body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #444;
  padding: 1em;
}


a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #555;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-bottom: 1em;
}

a:hover {
  background-color: #777;
}


#login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  height: 100%;
}

#register-form-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#register-form-container form{
  margin-bottom: 15rem;
}

#login-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login-form-container form{
  margin-bottom: 15rem;
}








