body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #444;
  padding: 1em;
}

#space_creation{
  color: #334;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #555;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-bottom: 1em;
}

a:hover {
  background-color: #777;
}

#classic-body{
  background-color: #334;
}

#home-gamemodes-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#home-gamemodes-container li{
  margin-top: 100px;
  list-style: none;
}

#home-gamemodes-container li a{
  font-size: 3rem;
}

#home-gamemodes-container h1{
  font-size: 5rem;
  color: #555;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#register-form-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#register-form-container form{
  margin-bottom: 15rem;
}

#login-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login-form-container form{
  margin-bottom: 15rem;
}

#classic-container{
  height: 100%;
  background-color: #334;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#classic-container h1{
  margin: 0;
  color: white;
  padding-top: 30px;
  font-size: 3em;
  
}

#classic-container h2{
  margin: 0;
  color: white;
  font-size: 1.5em;
  margin-top: 100px;
  height: 2000px;
}


.search-box{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px;
  background: #fff;
  margin: 200px, auto 0;
  border-radius: 5px;
  
}

.row{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.search-box input{
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  transition: color 0.5 ease-in-out;
  color: #333;
}



.search-box button{
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 10px 10px;
}

.search-box button:hover{
  background: rgba(50, 62, 104, 0.2);
}


button .fa-solid{
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder{
  color: #555;
}

.result-box ul{
  border-top: 1px solid #999;
  padding: 15px 10px;
  margin: 0;
}

.result-box ul li{
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover{
  background-color: #e9f3ff;
}

.guesses-box {
  background-color: #9e9999;
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.guess{
  background-color: white;
  width: 600px;
  height: 100px;
  margin: 20px;

}

